<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
  
    email::{{ email}}<br>
    <input type="text" v-model="email"
           class="w-full py-3 pl-4 pr-10 font-medium leading-none text-gray-600 rounded-lg shadow-sm focus:outline-none focus:shadow-outline"
           placeholder="Select email">
  
    <button type="submit"
            class="editor_listing_edit_btn"
            @click="login()">
      Login
    </button>
  
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import axios from 'axios'

export default {
  name: 'App',
  components: {
    HelloWorld
  },
  data() {
    return {
      email :'maol',
      password :'paasw',
    }
  },
  methods : {
  
    login() {
      axios.get('/sanctum/csrf-cookie').then(response => {
        console.log('response:::')
        console.log(response)
        axios.post('/login', {
          email: this.email,
          password: this.password,
        }).then(response2 => {
          console.log('response2:::')
          console.log(response2);
          localStorage.setItem('isLoggedIn', 'true')
          this.$router.push({ name: 'Dashboard' })
        }).catch(error => {
          // console.log(error.response.data);
          const key = Object.keys(error.response.data.errors)[0]
          this.errorMessage = error.response.data.errors[key][0]
        })
      })
    }

  }
  
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
